# Ignore all content in the vendor folder
vendor/

# Binaries for programs and tests
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool
*.coverprofile

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Go workspace files (Go 1.18+)
go.work
go.work.sum
